@page
@model Online_Pizzeria.Pages.Forms.CustomPizzaModel
@{
}

<div>
    <div class="supportBack" style="margin: auto; width: 500px">
    <h1 class="text-center">Create your own Pizza</h1>

    <form align="center" method="post">
        <input id="name" placeholder="Enter Pizza Name" style="text-align:center; margin:20px" asp-for="UserOrder.UserPizza.Name"/>
        <br />
        @{
            var number = 0;
            foreach (var IngredientName in Enum.GetNames(typeof(Online_Pizzeria.Models.Ingredient)))
            {
                <input id="@number" type="checkbox" style="margin: auto; text-align:center" placeholder="@IngredientName"/> @IngredientName
                <br />
                number++;
            }
                <input id="ingredientsList" hidden="true" type="text" asp-for="UserOrder.UserPizza.Ingredients" />
        }  
        <br />
        <button id="button" class="btn btn-primary mt-1 centerButton" style="margin: auto;" type="submit">Order</button>       
        <br />
    </form>
    </div>
    <br />
    <p style="text-align:center; margin:20px" id="allIngredients"></p>
</div>

<script>   
    let allIngredientsEl = document.getElementById("allIngredients")
    let ingredientsListEl = document.getElementById("ingredientsList")

    window.onload = () => {
        let id = 0
        while (document.getElementById(id) !== null) 
        {
            document.getElementById(id).addEventListener("click", MergeIngredients)      
            id++
        }
    }

    function MergeIngredients() {
        let ingredients = []
        let id = 0;
        while (document.getElementById(id) !== null) 
        {
            let element = document.getElementById(id) 
            if (element.checked) 
            {
                ingredients.push(element.placeholder)
            }
            id++
        }
       
        allIngredientsEl.textContent = ingredients.join(", ")
        ingredientsListEl.value = ingredients       
        
    }
</script>