@page
@model Online_Pizzeria.Pages.Admin.AdminModel
@{
}

<div class="supportBack controlCenter">
    <h5 class="controlCenterText unselectable" > Control Center </h5>
    <ul class="nav">
        <li><a id="viewPizzasButton" class="unselectable">Pizzas</a></li>
        <li><a id="viewOrdersButton" class="unselectable">Orders</a></li>
    </ul>
</div>

<br />

<div id="modalTable">
    <img src="~/images/loading.gif" title="Loading" class="loadingImg">
</div>

<div id="modalCreatePizza" class="modal" tabindex="-1" role="dialog">
    <form method="post"></form>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pizza Details Form</h5>
                <button type="button" id="dismissCreatePizza" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align:center">
                <input id="createPizza_name" type="text" placeholder="Enter Pizza Name" class="center" />
                <br />
                <input id="createPizza_price" type="text" placeholder="Enter Pizza Price" class="center" />
                <br />
                @{
                    foreach (var IngredientName in Enum.GetNames(typeof(Online_Pizzeria.Models.Ingredient)))
                    {
                        <input type="checkbox" class="ingredientCheckbox" placeholder="@IngredientName" /> @IngredientName
                        <br />
                    }
                }
                <br />
                <button id="createPizza_Button" class="btn btn-primary mt-1 centerButton" style="margin: auto;" type="submit">Add</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditOrder" class="modal" tabindex="-1" role="dialog">
    <form method="post"></form>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pizza Details Form</h5>
                <button type="button" id="dismissEditOrder" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table supportBack">
                    <tbody class="tableMain">
                        <tr>
                            <th><p class="editModal">Order Id: </p></th>
                            <th><p class="editModal" id="modal_orderId"></p></th>
                        </tr>
                        <tr>
                            <th><p class="editModal">Pizza Name: </p></th>
                            <th><p class="editModal" id="modal_pizzaName"></p></th>
                        </tr>
                        <tr>
                            <th><p class="editModal">Price: </p></th>
                            <th><p class="editModal" id="modal_price"></p></th>
                        </tr>
                        <tr>
                            <th><p class="editModal">Status: </p></th>
                            <th class="editModal">@Html.DropDownList("modal_orderStatus", new SelectList(Model.Statuses))</th>
                        </tr>
                        <tr>
                            <th><p class="editModal">Ordered: </p></th>
                            <th><p class="editModal" id="modal_ordered"></p></th>
                        </tr>
                        <tr>
                            <th><p class="editModal">Delivered: </p></th>
                            <th><p class="editModal" id="modal_delivered"></p></th>
                        </tr>
                    </tbody>
                </table>
                <br />
                <button id="editOrderButton" class="btn btn-primary mt-1 centerButton" style="margin: auto;">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = () => {
        loadPizzas()

        document.getElementById("viewPizzasButton").addEventListener("click", loadPizzas)
        document.getElementById("viewOrdersButton").addEventListener("click", loadOrders)

        if (document.getElementById("addNewPizzaButton") !== null) {
            document.getElementById("addNewPizzaButton").addEventListener("click", showCreatePizza)
        }

        for (let button of document.getElementsByClassName("editOrderButton")) {
            button.addEventListener("click", () => { showEditOrder(button.id) })
        }
    }

    function loadPizzas() {
        $('#modalTable').load('PartialViews/_PizzasTable')
    }

    function loadOrders(){
        $('#modalTable').load('PartialViews/_OrdersTable')
    }

    function showCreatePizza() {
        $("#modalCreatePizza").modal('show');

        document.getElementById("dismissCreatePizza").addEventListener("click", hideCreatePizza)
        document.getElementById('createPizza_Button').addEventListener("click", sendCreatePizzaRequest)
        for (let checkbox of document.getElementsByClassName("ingredientCheckbox")) {
            checkbox.addEventListener("click", ingredientsToString)
        }
    }
    function hideCreatePizza() {
        $("#modalCreatePizza").modal('hide');
    }

    function showEditOrder(orderId) {
        let row = document.getElementById('ordersRow_' + orderId)
        document.getElementById('modal_orderId').innerText = row.cells[0].textContent
        document.getElementById('modal_pizzaName').innerText = row.cells[1].textContent
        document.getElementById('modal_price').innerText = row.cells[2].textContent
        document.getElementById('modal_orderStatus').value = row.cells[3].textContent
        document.getElementById('modal_ordered').innerText = row.cells[4].textContent
        document.getElementById('modal_delivered').innerText = row.cells[5].textContent
        

        $("#modalEditOrder").modal('show');
        document.getElementById("dismissEditOrder").addEventListener("click", hideEditOrder)
        document.getElementById('editOrderButton').addEventListener("click", sendEditOrderRequest)
    }
    function hideEditOrder() {
        $("#modalEditOrder").modal('hide');
    }

    function ingredientsToString() {
        let ingredients = []
        for (let checkbox of document.getElementsByClassName("ingredientCheckbox")) {
            if (checkbox.checked) {
                ingredients.push(checkbox.placeholder)
            }
        }
        return ingredients.join(", ")
    }

    function sendEditOrderRequest() {
        $.ajax({
            type: 'POST',
            url: "Admin/",
            headers: {
                RequestName: "EditOrderRequest",
                OrderId: document.getElementById('modal_orderId').innerText,
                OrderStatus: document.getElementById('modal_orderStatus').value,
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        })
        hideEditOrder()
    }

    function sendCreatePizzaRequest() {
        $.ajax({
            type: 'POST',
            url: "Admin/",
            headers: {
                RequestName: "CreatePizzaRequest",
                Name: document.getElementById('createPizza_name').value,
                BasePrice: document.getElementById('createPizza_price').value,
                Ingredients: ingredientsToString(),
                RequestVerificationToken: $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        })
        hideCreatePizza()
    }


</script>