@page
@model Online_Pizzeria.Pages.Login.LoginModel
@{
}

<div class="supportBack" style="margin: auto; width: 300px; height:220px">
    <form align="center" method="post"> 
        <div style="margin: auto; padding: 30px 0px 20px 0px;">
            <input type="text" class="inputLogin" placeholder="Enter Login" asp-for="Login"/>
            <input type="password" class="inputLogin" placeholder="Enter Password" asp-for="Password"/> 
        </div>
        <button class="btn btn-primary centerButton buttonLogin" type="submit">Submit</button>  
    </form>
</div>

