@page
@model Online_Pizzeria.Pages.Login.LoginModel
@{
}

<div class="supportBack" style="margin: auto; width: 300px">
    <form align="center" method="post"> 
        <input type="text" placeholder="Enter Login" style="text-align:center; margin:20px" asp-for="Login"/>
        <input type="password" placeholder="Enter Password" style="text-align:center; margin:20px" asp-for="Password"/> 
        <button class="btn btn-primary mt-0 centerButton" style="margin: auto; width:150px" type="submit">Submit</button>  
    </form>
</div>
<div style="margin:20px;">

</div>
