@page
@model Online_Pizzeria.Pages.Admin.PizzaPartialViewModel
@{
}
 
<form align="center" method="post">
        <input id="name" type="text" placeholder="Enter Pizza Name" style="text-align:center" asp-for="Pizza.Name"/>
        <input id="price" type="text" placeholder="Enter Pizza Price" style="text-align:center" asp-for="Pizza.BasePrice"/>
        <input id="price" type="text" placeholder="Enter Ingredients" style="text-align:center" asp-for="Pizza.Ingredients"/>
        <br />
        <button id="button" class="btn btn-primary mt-1 centerButton" style="margin: auto;" type="submit">Create</button>       
</form>