@page
@model Online_Pizzeria.Pages.Checkout.CheckoutModel

@{
var imagePath = "~/images/Pizzas/" + (@Model.Order.ImageTitle + ".png");
}

    <div class="align-self-center"> 
        <h5 style="text-align:center">Please, check your Order</h5>
        <br />
        <p style="text-align:center">Your Pizza Name: @Model.Order.Name</p>
        <p style="text-align:center">Order Price: @Model.Order.Price</p>
        <img src="@imagePath" class="finalImage align-content-center" asp-append-version="true">
    </div>



