@page
@model Online_Pizzeria.Pages.Checkout.CheckoutModel

@{
    var imagePath = "~/images/Pizza/Create.png"; //+ (@Model.UserOrder.UserPizza.Name + ".png");
}

    <div class="supportBack"> 
        <h5 class="center">Please, check your Order</h5>
        <br />
        <p class="center m-0">Your Pizza Name: @Model.UserOrder.Id</p>
        <p class="center m-0">Order Price: @Model.UserOrder.Price</p>      
    </div>
    <div  class="center">  
        <img src="@imagePath" class="finalImage m-2" asp-append-version="true">
        <br />
        <a class="btn btn-primary mt-4 w-25" asp-area="" asp-page="/Checkout/ThankYou">Everything is correct</a> 
    </div>




