@page
@model CustomerSupport
@{
    ViewData["Title"] = "Customer Support";
}


<div class="supportBack" >
        <h5 class="center">Feel free to contact us</h5>
        <p class="center">@Model.PhoneNumber</p>
        <p class="center">@Model.Address</p>
        <p class="center">@Model.Email</p>
</div>
