@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="supportBack" style="width:900px"> 
    <h1 class="text-danger center">Error.</h1>
    <h2 class="text-danger center">An error occurred while processing your request.</h2>
</div>

