@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container center">
    <div class="row" >
        <div class="bg-white center" style="border-radius: 0.9rem"> 
        <h3 class="p-sm-3 display-3 text-black">Welcome to Pizza Delivery</h3> 
        </div>
    </div>
    <div class="align-content-center">
        <div>
            <a class="btn btn-primary mt-3 w-25" asp-area="" asp-page="Pizza">Order a pizza</a>         
        </div>
        <div>
            <a class="btn btn-primary mt-4 w-25" asp-area="" asp-page="Support">Customer Support</a> 
        </div>  
    </div>
</div>



<div class="bd-example">
<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div id="image" class="center">
      <img class="smallImage" src="~/images/Pizza/Bolognese.png" title="Bolognese"/>
    </div>
  </div>
  <a id="leftButton" class="carousel-control-prev buttonsCarousel" role="button" data-slide="prev" style="padding-left:360px">
    <span class="buttonsCarousel" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a id="rightButton" class="carousel-control-next buttonsCarousel" role="button" data-slide="next" style="padding-right:370px">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<script>   
    let leftButtonEl = document.getElementById("leftButton")
    let rightButtonEl = document.getElementById("rightButton")
    let imageEl = document.getElementById("image")
    let currentPizza = 0

    let directory = "~/images/Pizza/"
    let extension = ".png"

    let pizzaNames = ["Bolognese", "Carbonara", "Hawaiian", "Margerita", "MeatFeast", "Mushroom", "Pepperoni", "Seafood", "Vegetarian"]

    window.onload = () => {
        leftButtonEl.addEventListener("click", PrevPizza)
        rightButtonEl.addEventListener("click", NextPizza)
    }

    function NextPizza() {  
        let name = pizzaNames[currentPizza]
        imageEl.innerHTML = `<img class="smallImage" src="images/Pizza/${name}.png" title="Bolognese"/>`
        if (currentPizza < pizzaNames.length - 1) {
            currentPizza++
        }
        else {
            currentPizza = 0
        }
    }

    function PrevPizza() {   
        let name = pizzaNames[currentPizza]
        imageEl.innerHTML = `<img class="smallImage" src="images/Pizza/${name}.png" title="Carbonara"/>`
        if (currentPizza != 0) {
            currentPizza--
        }
        else {
            currentPizza = pizzaNames.length - 1
        }
    }

</script>