@page
@model Online_Pizzeria.Pages.Forms.PizzaModel
@{
}

<h1 class="display-4 text-capitalize text-black">Great selection of Pizzas</h1>

<div class="container"> 
    <div class="row">

        <div class="col-4 align-items-center">
            <div class="align-items-center supportBack">
                <h5 class="center m-auto">Create your own Pizza</h5>
                <img src="~/images/AllPizzas/Create.png" class="pizzaImg" />   
                <a class="btn center centerButton m-auto" asp-page="Forms/CustomPizza">Try Now</a>
            </div>
        </div>

        @{
            foreach (var name in Model.PizzasNames)
            {
                var imgsrc = $"/images/AllPizzas/{@name}.png";

                <div class="col-4 align-items-center">
                    <div class="align-items-center supportBack">
                        <h5 class="center m-auto">@name</h5>
                        <img src=@imgsrc class="pizzaImg" />   
                        <a class="btn center centerButton m-auto" asp-page="Checkout/Checkout">Try Now</a>
                    </div>
                </div>
            }
        }
    </div>
</div>