@page
@model Online_Pizzeria.Pages.Forms.PizzaModel
@{
}

<h1 class="pizzaMainText">Great selection of Pizzas</h1>

<div class="container">
    <div class="row">
        <div class="col-3 align-items-center">
            <div class="pizzaBox">
                <h5 class="pizzaName unselectable">My own Pizza</h5>
                <img src="~/images/AllPizzas/Create.png" class="pizzaImg" title="CustomPizza" />
                <a class="btn tryNowButton" id="CustomPizza">Try Now</a>
                <br>
            </div>
        </div>
        @{
            foreach (var pizza in Model.pizzasUser)
            {
                var imgsrc = $"/images/AllPizzas/{@pizza.ImageName}.png";
                        <div class="col-3 align-items-center">
                            <div class="pizzaBox">
                                <h5 class="pizzaName unselectable">@pizza.Name</h5>
                                <img src=@imgsrc class="pizzaImg" title="@pizza.Name" />
                                <a class="btn tryNowButton" id="@pizza.Name">Try Now</a>
                                <br>
                            </div>
                        </div>
            }
        }
    </div>
</div>

<script>

    window.onload = () => {
        for (let element of document.getElementsByClassName("pizzaImg")) {
            element.addEventListener("click", () => { redirectToCheckOut(element.title) })
        }
        for (let element of document.getElementsByClassName("tryNowButton")) {
            element.addEventListener("click", () => { redirectToCheckOut(element.id) })
        }
    }

    function redirectToCheckOut(pizzaName) {
        if (pizzaName === "CustomPizza") {
            $(window).attr('location','Forms/CustomPizza')
        }
        else {
            $(window).attr('location','Checkout/Checkout')
        }
    }

</script>