@page
@model Online_Pizzeria.Pages.Forms.PizzaModel
@{
}

<h1 class="display-4 text-capitalize text-black">Great selection of Pizzas</h1>

<div class="container"> 
    <div class="row">
        <div class="col-12 mb-5 mt-5">
            <div class="w-100 row"> 
              
                <div class="col-8 align-items-center" >

                    <div class="col-4 align-items-center">
                        <img src="~/images/Pizzas/Create.png" class="w-100" />     
                        <div class="align-items-center">
                            <h5 style="text-align:center">Create your own Pizza</h5>
                            <a class="btn btn-light" style="align:center" asp-area="" asp-page="Forms/CustomPizza">Try Now</a>
                        </div>
         
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>