@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="supportBack" >
    <h1 class="center">@ViewData["Title"]</h1>
    <p class="center">Site's privacy policy.</p>
</div>

