html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url('../images/background.jpg');
}

.mainImage {
    border-radius: 25px;
    filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.3));
    margin: 30px;
}

.finalImage {
    margin-left: auto;
    margin-right: auto;
    width:20%;
}

.smallImage {
    width: 30%;
    height: 30%;
    margin: 40px;
}

.center {
    text-align: center;
    margin: auto;
}

.centerButton {
    text-align: center;
    display: block;
    margin:15px;
}

.buttonsCarousel {
    color: black;
    font-size: 50px;
    opacity: 0.7;
    text-decoration: none
}

.buttonsCarousel:hover, .buttonsCarousel:focus {
    color: black;
    opacity: 1;
    transform: scale(1.05)
}

.supportBack {
    align-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    border-radius: 0.9rem;
    width: 300px
}


.unselectable {
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
}

.adminMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.rightLi {
    float:right;
}

ul.nav {
    padding-left: 0px;
    background-color: none;
    text-align: center;
}

ul.nav > li {
    margin:auto;
    display: inline-block;
    padding: 5px 20px 5px 20px; 
}

ul.nav > li:hover {
    border-radius: 0.9rem;
    background-color: whitesmoke;
}

ul.nav > li > a {
    color: black;
    text-decoration: none;
}

.controlCenter {
    text-align: center;
    margin: auto;
    width: 300px;
    height: 80px;
}

.controlCenterText {
    text-align: center;
    margin: auto;
    padding: 10px 0px 5px 0px;
}

.buttonLogin {
    margin: auto;
    height: 30px;
    width: 150px;
    padding: 1px 0px 5px 0px;
}

.inputLogin {
    margin: 10px 0px 10px 0px;
    padding: 5px 0px 10px 0px;
    height: 30px;
    width: 200px;
    text-align: center;
    border-radius: 0.3rem;
    border-color: whitesmoke;
}

.buttonTable {
    background: white;
    margin: auto;
    padding: 5px 5px 5px 5px;
    border-radius: 0.3rem;
}

.buttonTable:hover {
    background-color: whitesmoke;
    border-radius: 0.3rem;
}

.deleteButton{
    opacity:0.7;    
    color:black;
    text-decoration:none;
}

.editOrderButton {
    text-align:center;
    margin: 0px 0px 0px 0px;
    opacity: 0.7;
    color: black;
    text-decoration: none;
}

.editButton:hover {
    opacity: 1;
    background-color: whitesmoke;
    border-radius: 0.3rem;
}

.deleteButton:hover {
    opacity: 1;
    color: darkred;
}

.tableMain{
}

.tableMain > tr > th {
    margin: auto;
    vertical-align: central;
    font-weight: normal;
    text-decoration: none;
    height: 45px;
}

.editModal {
    text-align: left;
    width: 200px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ingredientCheckboxCreate {
    margin: 5px 0px 5px 0px;
    height: 18px;
    width: 18px;
}
.ingredientCheckboxEdit {
    margin: 5px 0px 5px 0px;
    height: 18px;
    width: 18px;
}
.loadingImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 0px 0px;
    height: 200px
}

.inputPizza {
    color: black;
    margin: 5px 0px 5px 0px;
    padding: 2px 0px 2px 0px;
    border-radius: 0.3rem;
    border-color: darkgray;
}

.editPizzaButton {
    margin: 0px 50px 0px 0px;
    width: 100px;
}

.close {
    padding: 0px 0px 20px 0px;
    height: 20px;
    width: 20px;
    border-radius: 0.3rem;
    border-color: darkgray;
}
.closeSymbol {
    padding: 0px 0px 0px 0px;
    opacity: 0.9;
}

.closeSymbol:hover {
    opacity: 1;
    color: darkred;
}

.tryNowButton {
    padding: 3px 0px 0px 0px;
    margin: auto;
    display: block;
    width: 90px;
    height: 35px;
    border-radius: 0.9rem;
}

.tryNowButton:hover {
    background-color:whitesmoke;
}

.pizzaMainText {
    width: 500px;
    margin: 10px auto 20px auto;
    padding: 10px 0px 10px 0px;
    text-align: center;
    font-weight: normal;
    background-color: white;
    border-radius: 0.9rem;
}

.pizzaName {
    padding: 12px 0px 0px 0px;
    display: block;
    text-align: center;
}

.pizzaImg {
    width: 300px;
    display: block;
    margin: auto;
    padding: 15px 15px 18px 15px;
    opacity: 0.9
}

.pizzaImg:hover {
    transform: scale(1.1);
    opacity: 1;
    cursor: pointer;
}

.pizzaBox {
    width: 310px;
    margin: 10px 0px 10px 0px;
    background-color: white;
    border-radius: 5rem;
}
